body {

    background-color: #D4D4D4;
}

.TelaLogin {

    width: 400px;
    height: 600px;
    background-color: #E6E6E6;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 10px;
    position: relative;
    
}

.flex {

    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.PLogin{

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

}

label {
    
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
}

input[type="text"], input[type="password"]{

    width: 340px;
    max-width: auto;
    outline: none;
    margin-left: 30px;
    background-color: #D4D4D4;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}

.Esqueceu{

    color: #1A2692;
    font-size: 18px;
    padding: 5px 30px;
    font-family:'Arial';
    
}

a{text-decoration: none;color: #1A2692;}

a:hover{text-decoration: underline;}

h4{
    
    padding: 0 30px;
    font-size: 20px;
    color: #3f3f3f;
}

span{

    color: #1A2692;
    font-size: 22px;

}

.btnAvancar {

    background-color: #3F87BC;
    border: none;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 270px;
    top: 490px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;


}

.btnAvancar:hover {

    background-color: #245f8a;
    cursor: pointer;

}

