@inherits LayoutComponentBase

<div class="page">
    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
        <NavMenu />
        
        
    </header>
    

    <main>




        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <div class="RodapeInt">
            <div style="position: relative;"><img src="../IMGS/Logoreal.png" class="Primuslogo" alt="Primus"></div>
    
            <div class="Listalinks">
                <ul>
                    <li style="list-style-type: none;" class="TextoMenu">Menu</li>    
                    <li><a href="TelaInicial.html">Inicio</a></li>
                    <li><a href="Sobre.html">Empresa</a></li>
                    <li><a href="Noticias.html">Noticias</a></li>
                    <li><a href="Contato.html">Atendimento</a></li>
                    <li><a href="Localizacao.html">Localização</a></li>
                    <li><a href="Produtos.html">Produtos</a></li>
                    <li><a href="#Mercado">Agencia Mercado Livre</a></li>
                </ul>
            </div>

            <div class="ListaRedes">
                <p class="TextoRedes">Redes Socias</p>
                <a href="https://www.facebook.com/primusautopecas15" target="_blank"><p><i class="fa-brands fa-facebook icones fac"></i></p></a>
                <a href="https://wa.me/5511970766083?text=Olá%20Mundo,%20Tudo%20bem%3F" target="_blank"><p><i class="fa-brands fa-whatsapp icones zap"></i></p></a>
                <a href="https://www.instagram.com/primus.auto.pecas/" target="_blank"><p><i class="fa-brands fa-instagram icones inst"></i></p></a>
            </div>
    
            <div class="TextoContato">
                    <p class="Descricao"
                    >A auto peças em que você confia, especializada em peças para <br>motor, suspensão, direção, freio, câmbio e muito mais.</p>
                    <br>
                    <p class="TextoRodape"
                    ><i class="fa-solid fa-phone"></i>  +55 (11) 2493-4441 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-phone"></i> +55 (11) 4260-0669</p>
                    <p class="endereco1"
                    >Avenida Imperial 1576, Jardim Imperial. Atibaia - SP, 12950-000</p>
                    <p class="endereco2"
                    >De Segunda à Sexta: 8h00 as 18h00<br>De Sabado: 8h00 as 13h00</p>
            </div>
        </div>        

        <p class="TextoFinal">Copyright &copy; 2024-2024 Primu's Auto Peças - Todos os direitos reservados</p>
    
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
