body {

    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
    height: 1400px;
    overflow-x: hidden;

}

html {
    scroll-behavior:smooth;
}
/*BARRA DE NAV*/

@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../FONTS/Montserrat-Bold.ttf') format('truetype');
}

/*MAIN*/

.ImgSobre {

    padding-top:100px;
    width: 100%;
    height: 300px;
    
}

.flex{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Secao1 h1 {

    font-size: 30px;
    font-family: 'Calibri';
    font-weight: 500;
    letter-spacing: 5px;

}

.Secao1 h4 {

    font-family: 'Calibri';
    font-size: 20px;
    color: #202a81;
    font-weight: bold;
    padding: 8px 0px;

}
.Secao1{
    padding-left: 200px;
    padding-bottom: 10px;
}

.Secao1 p  {

    max-width: 300px;
    text-align:left;
    color: rgb(27, 27, 27);
}

.Secao2 img {
    width: 1000px;
    height: 350px;
    position: relative;
    right: 80px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.Secao2 img:hover {
    scale: 1.05;
    box-shadow: rgb(0, 0, 0, 0.5) 5px 5px 15px;
}

.overlay{

position: fixed;
top: 0;
left: 0;
justify-content: center;
align-items: center;
background-color: rgb(0, 0, 0, 0.7);
height: 100%;
width: 100%;
display: none;
z-index: 9999;

}

.Tamanhos {

    height: 600px;
    width: auto;
    border: 4px solid #ffffff;
}

/*Efeito scrool*/
.EfeitoSubindo {

    position: fixed; 
    bottom: 0; 
    padding: 20px 40px; 
    z-index: 999;
    opacity: 0;    
    pointer-events: none; /*desativa a interação com o botão enquanto ele está invisível, sem precisar alterar o display*/
    transition: opacity 1s ease;
    display: grid;
    align-items: center;
    justify-content: center;

}
.EfeitoSubindo.show{

    opacity: 1;
    pointer-events: auto;
}

.EfeitoSubindo .fa-solid {font-size: 35px; color: #adadad; position: relative; margin: 0 auto; top: 10px;}

.EfeitoSubindo button {

    border: none;
    background: #adadad;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.EfeitoSubindo img {

    width: 40px;
    height: 40px;
    transition: 1s;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Media Queries para Responsividade */

@media (max-width: 1400px) {
    .Secao2 img {
        height: 300px;
    }
    
    .Tamanhos {
        height: 500px;
        width: 800px;
    }
    .Secao1 {
        padding-left: 100px;
    }
}

@media (max-width: 1200px) {
    .Secao2 img {
        width: 800px;
        height: 300px;
        right: 0px;
    }
    
    .Tamanhos {
        height: 500px;
        width: 800px;
    }
    .Secao1 h1{
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .Secao1 {
        padding-left: 100px;
        text-align: center;
        padding: 0;
        
    }

    .Prima {
        padding-top: 50px;
    }

    .Secao1 p {
        max-width: 100%;
        font-size: 15px;

    }

    .Secao1 h1 {
        font-size: 45px;
        letter-spacing: 4px;
    }

    .Secao1 h4 {
        font-size: 25px;
    }
    
    .Secao2 img {
        width: 90%;
        height: auto;
        margin: 0 auto !important;
        display: block !important;
        position: static !important; /* <-- Adicione esta linha */
        right: 0 !important;
        height: 350px;

    }
    
    .Tamanhos {
        height: 400px;
        width: 600px;
    }
    
    h2 {
        font-size: 40px;
    }
}
@media (max-width: 800px) {

    .Secao1 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 768px) {
    .ImgSobre {
        height: 350px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    .Secao1 {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .Secao1 p {
        max-width: 100%;
        Text-align: justify;

    }
    
    .Secao2 img {
        width: 90%;
        height: auto;
        right: 0;
        margin: 0 auto;
        display: block;
    }
    
    .Tamanhos {
        height: auto;
        width: 90%;
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .ImgSobre {
        height: 250px;
    }

    .Prima {
        padding-top: 10px;
    }

    
    h2 {
        font-size: 28px;
        top: 20%;
    }
    
    .Secao1 h1 {
        font-size: 30px;
        letter-spacing: 3px;
    }
    
    .Secao1 {
        padding: 40px;
    }
    
    .Secao1 h4 {
        font-size: 20px;
    }
    
    .Secao2 img {
        width: 95%;
        height: auto;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 24px;
    }
    
    .Secao1 h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    
    .Secao1 h4 {
        font-size: 16px;
    }
}