@inherits LayoutComponentBase

<div class="container-fluid">
    <header>
        <nav>
            <a href="/" class="LogoP">
                <img src="images/Logoreal.png" alt="Logo Primus" style="width: 200px; position: relative; top: -25px;">
            </a>
            <NavMenu />
        </nav>
    </header>

    <main>
        @Body
    </main>

    <footer>
        <div class="RodapeInt">
            <div style="position: relative;">
                <img src="images/Logoreal.png" class="Primuslogo" alt="Primus">
            </div>

            <div class="Listalinks">
                <ul>
                    <li style="list-style-type: none;" class="TextoMenu">Menu</li>
                    <li><NavLink href="Inicio">Inicio</NavLink></li>
                    <li><NavLink href="Sobre">Empresa</NavLink></li>
                    <li><NavLink href="Noticias">Notícias</NavLink></li>
                    <li><NavLink href="Contato">Atendimento</NavLink></li>
                    <li><NavLink href="Localizacao">Localização</NavLink></li>
                    <li><NavLink href="Produtos">Produtos</NavLink></li>
                    <li><NavLink href="#Mercado">Agencia Mercado Livre</NavLink></li>
                </ul>
            </div>

            <div class="TextoContato">
                <p class="Descricao">
                    A auto peças em que você confia, especializada em peças para <br>motor, suspensão, direção, freio, câmbio e muito mais.
                </p>
                <br>
                <p class="TextoRodape">
                    <i class="fa-solid fa-phone"></i>  +55 (11) 2493-4441 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-phone"></i> +55 (11) 4260-0669
                </p>
                <p class="endereco1">
                    Avenida Imperial 1576, Jardim Imperial. Atibaia - SP, 12950-000
                </p>
                <p class="endereco2">
                    De Segunda à Sexta: 8h00 as 18h00<br>De Sábado: 8h00 as 13h00
                </p>
            </div>
        </div>

        <p class="TextoFinal">Copyright &copy; 2024-2024 Primu's Auto Peças - <a class="Termos" href="../HTML'S/Termos.html"> Créditos e Termos</a> | Todos os direitos reservados</p>
    </footer>
</div>

