<nav>
    <a href="#" class="LogoP"><img src="../IMGS/Logoreal.png" alt="Logo Primus" style="width: 200px; position: relative; top: -25px;"></a>
    <a href="/" class="Inicio nav-link">Início</a>
    <a href="/Sobre" class="Sobre nav-link">Sobre</a>
    <a href="/Noticias" class="Noticias nav-link">Notícias</a>
    <a href="/Contato" class="Contato nav-link">Atendimento</a>
    <a href="/Localizacao" class="Localizacao nav-link">Localização</a>
    <a href="/Produtos" class="Produtos nav-link">Produtos</a>
    <button><i class="fa-regular fa-user"></i></button>
</nav>