body {

    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
    height: 1000px;
    overflow-x: hidden;
    
}
/*BARRA DE NAV*/

@font-face {
    font-family: 'Lora';
    src: url('../FONTS/LoraItalica.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../FONTS/Montserrat-Bold.ttf') format('truetype');
}

/*MAIN*/

.ImgLocalizacao {

    width: 100%;
    height: 450px;
    
}

h2{
    font-family:'MontserratBold';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #ffffff;   
    font-size: 50px;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);

}

h1 {
    font-size: 50px;
    font-family:'Arial';
    color: #000000;
    text-align: center;
    padding-top: 50px;

}

h1 span {color: #1a3b81;}

h1 img {

    width: 80px;
    height: 80px;
    position: relative;
    bottom: 10px;
}

.Endereco h4{

    font-family:'Times New Roman', Times, serif;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;

}

h5 {

    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

h6 {

    font-size: 21px;
    padding-right: 50px;
    color: black;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;

}

.Endereco p {

    font-size: 35px;
    color: #2e2e2e;
    padding-top: 15px;

}

.TextoHora{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.LocalizacaoIMG{
    margin: 0 auto;
    text-align: center;
}

iframe {
    border:5px solid rgb(255, 255, 255); 
    width: 1800px;
    height:700px;
}

.Caixa {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 500px;
    margin: 0 auto;
}

.FundoCaixa{
    box-shadow: 2px 2px 15px;
    background-color: rgb(238, 238, 238);

}

.Caixa img {

    padding-top: 10px;
    height: 320px;
    width: 430px;
    display: block;
    margin: 0 auto;
    
}

.BordaP {

    background-color: #1a3b81;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px -2px 15px;

}

.TextosPrimus {

    display: flex;
}

.Tabela {
    display: flex;
    justify-content: center;
    align-items: center;

}

table {

    background-color: rgb(238, 238, 238);
    border-collapse: collapse;
    box-shadow: 2px 2px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 500px;
}

td {

    padding: 10px 20px;
    width: 5%;
    text-align: center;
    
}

td:nth-child(2) {width: 5%;}

.cinza {background-color: #1a3b81; color: white;}

.TextServi {

    font-family: 'Arial';
    font-size: 80px;
    text-align: center;
    font-weight: 400;
}

.MiniTextServi {
    
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}

.TextServi span {color: #1a3b81;}

.Servicos {

    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    transition: 1s;
}

.Servicos img {

    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.Servicos:hover {

    box-shadow: 0px 50px 1px rgba(0, 0, 0, 0);
    transform: scale(1.1);
}

.Servicos p{
    padding-top: 10px;
    font-size: 22px;
    color: #222222;
    margin: 0;
    font-family: "Calibri";
    text-align: center;
    font-weight: 600;

}

/*Efeito scrool*/
.EfeitoSubindo {

    position: fixed; 
    bottom: 0; 
    padding: 20px 40px; 
    z-index: 999;
    opacity: 0;    
    pointer-events: none; /*desativa a interação com o botão enquanto ele está invisível, sem precisar alterar o display*/
    transition: opacity 1s ease;
    display: grid;
    align-items: center;
    justify-content: center;

}
.EfeitoSubindo.show{

    opacity: 1;
    pointer-events: auto;
}

.EfeitoSubindo .fa-solid {font-size: 35px; color: #adadad; position: relative; margin: 0 auto; top: 10px;}

.EfeitoSubindo button {

    border: none;
    background: #adadad;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.EfeitoSubindo img {

    width: 40px;
    height: 40px;
    transition: 1s;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}