body {

    background-color: #D4D4D4;
    margin: 0;
    padding: 0;
    height: 1150px;
    
}

.TelaCadastro {

    width: 500px;
    height: 980px;
    background-color: #E6E6E6;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    
}

.flex {
    
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.CriarText{

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-variant: normal;
    line-height: 25px;
}

.Genero {

    background-color: #D4D4D4;
    height: 50px;
    width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #9b9b9b;
    
}

.Genero:active{border: 1px solid #1A2692;}

p, label {
    
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    margin: 0px;
    
}

.Genero label {

    font-weight: normal;
    font-size: 15px;
    padding-top: 0px;

}

input[type="text"], input[type="password"], input[type="tel"]{

    width: 440px;
    max-width: auto;
    outline: none;
    background-color: #D4D4D4;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus{

    border: 1px solid #1A2692;
}

.btnCadastrar{

    position: absolute;
    width: 400px;
    height: 50px;
    background-color: #3F87BC;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    left: 50px;
    
}

.btnCadastrar:hover {

    background-color: #245f8a;
    cursor: pointer;

}

.Concorda {

    font-size: 15px;
    padding-top: 30px;
}

span {

    color:#1A2692;
}

.Todas {

    display: flex;
    justify-content: center;
}

.UltimoTexto {

    text-align: center;
    color: #3f3f3f;

}

.UltimoTexto a {

    text-decoration: none;
    color: #1A2692;
    font-size: 22px;

}

.UltimoTexto a:hover {text-decoration: underline;}

.Check {

    position: relative;
    left: 260px;
    font-weight: normal;
    font-size: 15px;

}

#MensagemErro, #MensagemErro2, #MensagemErro3 {

    margin: 0;
    padding: 0;
    color: rgb(228, 0, 0);
    font-size: 12px;
}