@font-face {
    font-family: 'Negrita';
    src: url('../FONTS/Nexa-Heavy.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Nexa';
    src: url('../FONTS/Nexa-ExtraLight.ttf') format('truetype');
}

nav[b-xkxg402u5g] {

    background-color: #ffffff;
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 9999;
    top: 0;
    left:0;
    right: 0;
    backdrop-filter: none;

    
    }
    
    nav a[b-xkxg402u5g] {
    
        color: #1E1E1E;
        text-decoration: none;
        font-size: 15px;
        position: relative;
        top: 35px;
        height: 20px;
        font-family: 'Negrita', Times, serif;
    }
    
    nav a.active[b-xkxg402u5g] {
        color: #3F87BC;
        text-decoration: underline;
    
    }
    
    nav a:hover[b-xkxg402u5g]{
    
        color: #3F87BC;
        text-decoration:underline;
    }
    
    nav button[b-xkxg402u5g] {
    
        border: none;
        background: none;
        font-size: 40px;
        cursor: pointer;
    }
    
    nav button:hover[b-xkxg402u5g] {
    
        color: #3F87BC;
    }

    nav button i[b-xkxg402u5g] {
        color: #1E1E1E;
    }
    nav button u[b-xkxg402u5g] {color: black;}
