@page "/termos"
<PageTitle>Termos</PageTitle>

<title>Créditos e Termos | Primu's Auto Peças</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/d3aca5478d.js" crossorigin="anonymous"></script>
