/*RODAPE*/

footer {

    font-family: 'Nexa', Helvetica, sans-serif;
    background-color:#1d1d1d;
    width: 100%;
    color: #ffffff;
    border-top: 2px solid #d4d4d4;
    z-index: 999;
    bottom: 0;
}

.RodapeInt{

    display: flex;
    justify-content: center;
    align-items: center;
}
.Listalinks{

    position: relative;
}

.Listalinks ul {font-size: 18px;}

.Listalinks li a {

    text-decoration: none;
    color: #ffffff;
}

.Listalinks li a:hover {text-decoration: underline;}

.ListaRedes{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 80px;
}

.TextoMenu {

    color:#3F87BC; 
    font-size:25px;
    font-family: 'Negrita', Times, serif;
    padding-bottom: 20px;
    padding-top: 20px;
    right: 10px;
    position: relative;
    
}

.TextoRedes {

    color:#3F87BC; 
    font-size:25px; 
    font-family: 'Negrita', Times, serif;
    position: relative;
    top: -8px;
}

.icones{

    color: #ffffff; 
    font-size: 40px;
    transition: 0.2s;
}

.fac:hover{color: rgb(20, 3, 255); transform: scale(1.1);}

.zap:hover{color: rgb(53, 255, 3); transform: scale(1.1);}

.inst:hover{color: rgb(252, 4, 128); transform: scale(1.1);}

.TextoContato{

    font-size: 18px;
    position: relative;
    left: 200px;
}

.Descricao{text-align: end; font-size: 24px;padding-top: 20px;}

.Primuslogo{
    
    width: 300px;
    left: -150px; 
    position: relative; 
}

.TextoFinal {
    
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Arial';
    padding-bottom: 2px;

}

.TextoFinal a {

    text-decoration: none;
    color: #ffffff;

}

.TextoFinal a:hover {

    color: #c4c4c4;

}
