@page "/noticias"
@using Microsoft.JSInterop
@inject IJSRuntime IJSRuntime
<PageTitle>Notícias</PageTitle>

<div><img src="../IMGS/loja.png" alt="Loja" class="ImgLocalizacao">
            <h2>Notícias</h2>
        </div>
        <br>
        <h1>Blogs</h1>

<script src="../JAVASCRIPT/jsNotic.js"></script>
<script src="https://kit.fontawesome.com/d3aca5478d.js" crossorigin="anonymous"></script>
