@page "/produtos"
@using Microsoft.JSInterop
@inject IJSRuntime IJSRuntime
<PageTitle>Produtos</PageTitle>

<div class="CorFundoLoja">>
            <h2>Atendimento</h2>
        </div>
        <div class="teste">
            <input type="text" id="btnPesquisar" placeholder="Pesquisar por produtos..." class="MyInput">
</div>
<script src="../JAVASCRIPT/jsProdut.js"></script>
<script src="https://kit.fontawesome.com/d3aca5478d.js" crossorigin="anonymous"></script>
