body {

    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 1400px;
    overflow-x: hidden;


}

html {
    scroll-behavior:smooth;
}
/*BARRA DE NAV*/

@font-face {
    font-family: 'Negrita';
    src: url('../FONTS/Nexa-Heavy.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Nexa';
    src: url('../FONTS/Nexa-ExtraLight.ttf') format('truetype');
}

nav {

background-color: #ffffff;
width: 100%;
height: 90px;
position: fixed;
display: flex;
justify-content: space-evenly;
z-index: 999;

}

nav a {

    color: #1E1E1E;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    top: 35px;
    height: 20px;
    font-family: 'Negrita', Times, serif;
}

nav a.active {
    color: #3F87BC;
    text-decoration: underline;

}

nav a:hover{

    color: #3F87BC;
    text-decoration:underline;
}

nav button {

    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
}

nav button:hover {

    color: #3F87BC;
}

.BarraVertical{
    /*N*/margin: 10px 0;
    position: fixed;
    /*N*/width: 250px;
    height: 250px;
    display: none;
    right: 90px;
    top: 90px;
    /*N*/background-color: #ffffff;
    z-index: 9997;
    border-radius: 10px;
    /*N*/padding: 20px;
    border: 1px solid #cccbcb;
    
}

/*N*/.Usuario {

    align-items: center;
    display: flex;
    font-size: 19px;
    font-family: "Calibri";
    
}

/*N*/.Usuario img {

    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

/*N*/.btnBarra {

    background-color: #e7e7e7;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    color: #000000;
    font-family: 'Nexa', Times, serif;
    font-weight:bold;
    
}

/*N*/.BarraVertical a{

    text-decoration: none;
    color: #000000;


}

/*N*/.btnBarra:hover {background-color: #cccccc;}

.overlay2 {

    position: fixed;
    z-index: 9996;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

/*LOGIN*/

.TelaLogin {

    width: 400px;
    height: 600px;
    background-color: #E6E6E6;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    
}

.x {

    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.flex {

    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.PLogin{

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

}

label {
    
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

input[type="text"], input[type="password"]{

    width: 340px;
    max-width: auto;
    outline: none;
    background-color: #D4D4D4;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
}

input[type="text"]:focus, input[type="password"]:focus{

    border: 1px solid #1A2692;
}

.Esqueceu{

    color: #1A2692;
    font-size: 18px;
    padding: 4px 30px;
    font-family:'Arial';
    margin: 0;
    padding: 0;
    
}

.TelaLogin a{text-decoration: none;color: #1A2692;display: inline-block;}

.TelaLogin a:hover{text-decoration: underline;}

.TelaLogin h4{
    
    font-size: 23px;
    color: #3f3f3f;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-weight: normal;

}

.TelaLogin span{

    color: #1A2692;
    font-size: 22px;

}

.btnAvancar {

    background-color: #3F87BC;
    border: none;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;

}

.btnAvancar:hover {

    background-color: #245f8a;
    cursor: pointer;

}

.Check {
    
    position: relative;
    left: 160px;
    font-weight: normal;
    font-size: 15px;
}

input[type="checkbox"] {

    cursor: pointer;
}

#MensagemErro, #MensagemErro2 {

    margin: 0;
    color: rgb(228, 0, 0);
    font-size: 12px;
    padding: 2px 0;
}

/*MAIN*/

.ImgSobre {

    width: 100%;
    height: 450px;
    
}

h2{
    font-family:'Negrita', Times, serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

h1 {

    font-size: 30px;
    font-family: 'Calibri';
    font-weight: 500;
    letter-spacing: 5px; /*Espaçamento entre as letras*/

}

h4 {

    font-family: 'Calibri';
    font-size: 20px;
    color: #202a81;
    font-weight: bold;
    padding: 8px 0px;

}
.Secao1{
    padding-left: 200px;
}

.Secao1 p  {

    max-width: 300px;
    text-align:left;
    color: rgb(27, 27, 27);
}

.Secao2 img {
    width: 1000px;
    height: 350px;
    position: relative;
    right: 80px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.Secao2 img:hover {
    scale: 1.05;
    box-shadow: rgb(0, 0, 0, 0.5) 5px 5px 15px;
}

.overlay{

position: fixed;
top: 0;
left: 0;
justify-content: center;
align-items: center;
background-color: rgb(0, 0, 0, 0.7);
height: 100%;
width: 100%;
display: none;
z-index: 9999;

}

.Tamanhos {


    height: 600px;
    width: 1000px;
}

/*Efeito scrool*/
.EfeitoSubindo {

    position: fixed; 
    bottom: 0; 
    padding: 20px 40px; 
    z-index: 999;
    opacity: 0;    
    pointer-events: none; /*desativa a interação com o botão enquanto ele está invisível, sem precisar alterar o display*/
    transition: opacity 1s ease;
    display: grid;
    align-items: center;
    justify-content: center;

}
.EfeitoSubindo.show{

    opacity: 1;
    pointer-events: auto;
}

.EfeitoSubindo .fa-solid {font-size: 35px; color: #adadad; position: relative; margin: 0 auto; top: 10px;}

.EfeitoSubindo button {

    border: none;
    background: #adadad;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.EfeitoSubindo img {

    width: 40px;
    height: 40px;
    transition: 1s;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*RODAPE*/

footer {

    font-family: 'Nexa', Helvetica, sans-serif;
    background-color:#1d1d1d;
    width: 100%;
    color: #ffffff;
    z-index: 999;
}

.RodapeInt{

    display: flex;
    justify-content: center;
    align-items: center;
}
.Listalinks{

    position: relative;
}

.Listalinks ul {font-size: 18px;}

.Listalinks li a {

    text-decoration: none;
    color: #ffffff;
}

.Listalinks li a:hover {text-decoration: underline;}

.ListaRedes{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 80px;
}

.TextoMenu {

    color:#3F87BC; 
    font-size:25px;
    font-family: 'Negrita', Times, serif;
    padding-bottom: 20px;
    padding-top: 20px;
    right: 10px;
    position: relative;
    
}

.TextoRedes {

    color:#3F87BC; 
    font-size:25px; 
    font-family: 'Negrita', Times, serif;
    position: relative;
    top: -8px;
}

.icones{

    color: #ffffff; 
    font-size: 40px;
    transition: 0.2s;
}

.fac:hover{color: rgb(20, 3, 255); transform: scale(1.1);}

.zap:hover{color: rgb(53, 255, 3); transform: scale(1.1);}

.inst:hover{color: rgb(252, 4, 128); transform: scale(1.1);}

.TextoContato{

    font-size: 18px;
    position: relative;
    left: 200px;
}

.Descricao{text-align: end; font-size: 24px;padding-top: 20px;}

.Primuslogo{
    
    width: 300px;
    left: -150px; 
    position: relative; 
}

.TextoFinal {
    
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Arial';
    padding-bottom: 2px;

}

.TextoFinal a {

    text-decoration: none;
    color: #ffffff;

}

.TextoFinal a:hover {

    color: #c4c4c4;

}