body {

    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 1400px;
    overflow-x: hidden;


}

html {
    scroll-behavior:smooth;
}
/*BARRA DE NAV*/

@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../FONTS/Montserrat-Bold.ttf') format('truetype');
}

/*MAIN*/

.ImgSobre {

    width: 100%;
    height: 450px;
    
}

h2{
    font-family:'MontserratBold';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

h1 {

    font-size: 30px;
    font-family: 'Calibri';
    font-weight: 500;
    letter-spacing: 5px; /*Espaçamento entre as letras*/

}

.Secao1 h4 {

    font-family: 'Calibri';
    font-size: 20px;
    color: #202a81;
    font-weight: bold;
    padding: 8px 0px;

}
.Secao1{
    padding-left: 200px;
}

.Secao1 p  {

    max-width: 300px;
    text-align:left;
    color: rgb(27, 27, 27);
}

.Secao2 img {
    width: 1000px;
    height: 350px;
    position: relative;
    right: 80px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.Secao2 img:hover {
    scale: 1.05;
    box-shadow: rgb(0, 0, 0, 0.5) 5px 5px 15px;
}

.overlay{

position: fixed;
top: 0;
left: 0;
justify-content: center;
align-items: center;
background-color: rgb(0, 0, 0, 0.7);
height: 100%;
width: 100%;
display: none;
z-index: 9999;

}

.Tamanhos {


    height: 600px;
    width: 1000px;
}

/*Efeito scrool*/
.EfeitoSubindo {

    position: fixed; 
    bottom: 0; 
    padding: 20px 40px; 
    z-index: 999;
    opacity: 0;    
    pointer-events: none; /*desativa a interação com o botão enquanto ele está invisível, sem precisar alterar o display*/
    transition: opacity 1s ease;
    display: grid;
    align-items: center;
    justify-content: center;

}
.EfeitoSubindo.show{

    opacity: 1;
    pointer-events: auto;
}

.EfeitoSubindo .fa-solid {font-size: 35px; color: #adadad; position: relative; margin: 0 auto; top: 10px;}

.EfeitoSubindo button {

    border: none;
    background: #adadad;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.EfeitoSubindo img {

    width: 40px;
    height: 40px;
    transition: 1s;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
