body {

    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
    height: 1700px;

}
/*BARRA DE NAV*/

@font-face {
    font-family: 'Lora';
    src: url('../FONTS/LoraItalica.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../FONTS/Montserrat-Bold.ttf') format('truetype');
}
/*MAIN*/

.ImgContato {

    width: 100%;
    height: 450px;
    
}

h2{
    font-family:'MontserratBold';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);

}

h1 {

    padding-left: 200px;
    font-size: 50px;
    font-family:'Montserrat';
    padding-top: 100px;
    color: #182280;
    font-weight: 600;


}

h3{
    padding-left: 200px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 900px;
    text-align: left;
    
}

.Formulario {

    height: 870px;
    background-color: rgb(221, 221, 221);
    padding: 30px;
    border: 1px solid black;
    box-shadow: 15px 15px 30px;
    position: relative;
    top: -50px;
    box-sizing: border-box;
    max-width: 600px;

}

.Formulario p {

    color: #1A2692; 
    font-family: 'MontserratBold'; 
    font-size: 55px; 
    z-index: 997;
    height: 1px;
    position: relative;
    top: -20px;

}

.Formulario input[type=text]{
    
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #d6d6d6;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Calibri';
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 20px;

}

.Formulario input[type=text]:focus{

    border: 1px solid black;
}

.Formulario input[type=submit]{


    height: 80px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border:  none;
    background-color: #1A2692;
    margin-top: 50px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Montserrat';

}

.Formulario input[type=submit]:hover {

    background-color: #141f7c;

}
textarea {

    box-sizing: border-box;
    background-color: #d6d6d6;
    resize: none;
    height: 200px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Calibri';
    border: 1px solid rgb(172, 172, 172);

}

textarea:focus{border: 1px solid #000000}

select {

    width: 100%;
    padding: 15px 20px;
    border: none;
    background-color: #d6d6d6;
    font-size: 20px;
    font-family: 'Calibri';
    border: 1px solid rgb(172, 172, 172);
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;

    appearance: none;
    background-image: url('../IMGS/seta-para-baixo.png');
    background-repeat: no-repeat;
    background-position: 480px 18px;
    background-size: 30px;
    cursor: pointer;

}

select:hover, select:active {
    background-color:#d6d6d6;
}

select:focus{border: 1px solid black;}

select option {
    background-color: rgb(221, 221, 221);
    color: #333;
    border-radius: 20px;  /* Tenta arredondar as bordas das opções */
}

.Contatos p{

    color: #1A2692; 
    font-size: 40px; 
    font-family: 'Montserrat';  
}

.Contatos ul{list-style:none;padding-left: 0;margin-left: 0; padding-bottom: 20px;}

.Contatos li {

    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Calibri';

}

.Endereco p {

    color: #1A2692; 
    font-size: 40px; 
    font-family: 'Montserrat';
    
}

.Endereco ul{list-style:none;padding-left: 0;margin-left: 0; padding-bottom: 20px;}

.Endereco li{

    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Calibri';
}

.Redes p {

    color: #1A2692; 
    font-size: 40px; 
    font-family: 'Montserrat';  
}

.FundoRedes{

    display:flex;   
    align-items:center;
    gap: 40px;
}

.iconesP{

    color: #000000; 
    font-size: 40px;
    transition: 0.5s;

}

.iconesP:hover{

    transform: scale(1.1);
}

.inf {

    position: relative;
    right: 80px;
    
}

h3 span {
    font-size: 27px;
    font-weight: 600;
}

#MensagemErroCont, #MensagemErro2Cont, #MensagemErro3, #MensagemErro5 {

    margin: 0;
    color: rgb(228, 0, 0);
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 5px;

}
#MensagemErro4 {

    color: rgb(228, 0, 0);
    font-size: 12px;
    padding-left: 5px;
    padding-top: 15px;
}


/*FUNCAO AVISO APOS ENVIO FORMULARIO*/
#MyAviso {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
  }

.sucesso {
    display: block;
    color: white;
    background-color: rgb(0, 99, 0);
    height: 50px;
}

.erro {
    display: block;
    color: white;
    background-color: red;
    height: 50px;

}

/*Efeito scrool*/
.EfeitoSubindo {

    position: fixed; 
    bottom: 0; 
    padding: 20px 40px; 
    z-index: 999;
    opacity: 0;    
    pointer-events: none; /*desativa a interação com o botão enquanto ele está invisível, sem precisar alterar o display*/
    transition: opacity 1s ease;
    display: grid;
    align-items: center;
    justify-content: center;

}
.EfeitoSubindo.show{

    opacity: 1;
    pointer-events: auto;
}

.EfeitoSubindo .fa-solid {font-size: 35px; color: #adadad; position: relative; margin: 0 auto; top: 10px;}

.EfeitoSubindo button {

    border: none;
    background: #adadad;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.EfeitoSubindo img {

    width: 40px;
    height: 40px;
    transition: 1s;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}